<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
<title>Encomendas</title>
</head>
  
<body>
	<header>
	
	</header>
	<table class="container">
		<thead>
			<tr>
				<th>ID</th>
				<th>Remetente</th>
				<th>Destinatario</th>
				<th>Endereco</th>
				<th>Franquia de Origem</th>
				<th>Franquia de Destino</th>
				<th>Modo de Encomenda</th>								

				<th>Visualizar</th>			
				<th>Editar</th>
				<th>Deletar</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="encomenda : ${encomendas}">
				<td><span th:text="${encomenda.id}"></span></td>
				<td><span th:text="${encomenda.remetente}"></span></td>
				<td><span th:text="${encomenda.destinatario}"></span></td>
				<td><span th:text="${encomenda.endereco}"></span></td>
				<td><span th:text="${encomenda.franquiaOrigem}"></span></td>
				<td><span th:text="${encomenda.franquiaDestino}"></span></td>
				<td><span th:text="${encomenda.modoEncomenda}"></span></td>
				
				<td><a class="waves-effect waves-light btn-small" href="#" th:href="@{/visualizarEncomenda(id=${encomenda.id})}"><i class="material-icons left">id</i> </a> </td>
				<td><a class="waves-effect waves-light btn-small" href="#" th:href="@{/editarEncomenda(id=${encomenda.id})}"><i class="material-icons left">edit</i> </a> </td>
				<td><a class="waves-effect waves-light btn-small" href="#" th:href="@{/deletarEncomenda(id=${encomenda.id})}"><i class="material-icons left">delete</i></a></td>
			</tr>
		</tbody>
	</table>

<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>